  *{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: Arial, Helvetica, sans-serif;
  }

  .scrolling-active {
      background-color: white;
    box-shadow: 0 3px 1rem rgba(0, 0, 0, 0.1);
    transition: 0.5s;
  }
  
  .scrolling-active .links ul li a {
    color: black;
  }
  
  .scrolling-active .links ul li a:hover {
    color: rgb(99, 66, 23);
    /* background: rgb(99, 66, 23); */
  }
  
  /* start of nav */
  nav {
    width: 100%;
    position: absolute;
    height: 100px;
    display: flex !important;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    position: fixed;
    top: 0;
  }  
  

  .logo {
    width: 250px;
    height: 100%;
    background: grey;
  }
  
  .links {
    width: 700px;
    display: flex;
    height: 100%;
    align-items: center !important;
    justify-content: space-around;
  }
  
  .links ul {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
  }
  
  .links li {
    list-style-type: none;
  }
  
  .links ul li a {
    text-decoration: none;
    padding: 0 10px;
    transition: 0.4s;
    color: white;
  }
  
  @media screen and (max-width: 700px) {
    .links {
      display: none;
    }
    .responsive-navbar {
      display: block;
    }
  
    .burger {
      display: inline-block !important;
      margin: 10px 30px;
      z-index: 100;
    }
  }
  
  .responsive-navbar {
    position: fixed;
    top: 0;
    z-index: 22;
    height: 100vh;
    width: 70%;
    right: 0;
    background: white;
    transform: translateX(100%);
    transition: 1s;
    /* display: flex; */
    /* flex-direction: ; */
    overflow-y: hidden;
    padding: 0 0 0 25px;
  }
  
  .transition {
    background: yellow;
  }
  
  .links ul li a::after {
    content: "";
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 0%;
    height: 2px;
    margin: auto;
    transition: 0.4s;
  }
  
  .links ul li a:hover::after {
    width: 100%;
    transition: 0.5s;
    /* text-decoration: none; */
  }
  
  .links ul li a:hover {
    /* color: rgb(182, 120, 40); */
    width: 100%;
    font-size: 20px;
    transition: 0.5s;
  }
  
  .top-section {
    overflow: hidden;
    width: 100%;
    position: relative;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom-left-radius: 50% 20%;
    border-bottom-right-radius: 50% 20%;
  }

  .section-heading {
    color: white;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .section-heading h1{
    font-size: 40px;
    font-weight: bolder;
  }

  #section-heading2{
    font-weight: 400;
  }



  /* main */
  

  .heading {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(131, 84, 24);
    margin: 40px 0 30px 0;
  }

  .heading .bold {
    font-weight: bold;
    margin-right: 10px;
  }
  
  .application-dev-content-one,
  .application-dev-content-two {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 50px;
  }
  
  .application-dev-content-one p,
  .application-dev-content-two p {
    margin: 0;
  }
  

  .grid {
    display: flex;
    flex-direction: column;
    padding: 0px !important;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
  }


  .box {
    height: 270px;
    width: 250px;
    background: white;
    box-shadow: 0px 1px 8px grey;
    border: 1px solid lightgray;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 8px;
  }
  
  .box-text {
    color: rgb(99, 66, 23);
    font-weight: bolder;
  }
  
  .box-icon {
    border-radius: 50%;
    height: 120px;
    width: 120px;
    box-shadow: 0px 6px 8px rgb(190, 187, 187);
    border: 1px solid lightgray;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .video2{
    width: 100%;
    overflow: hidden;
    position: relative;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 70% 20%;
    border-top-right-radius: 70% 20%;
  }

  .experience{
    margin-top: 10px;
    background: white;
    border-radius: 10px;
    /* height: 500px; */
    /* box-shadow: 0px 6px 8px rgb(190, 187, 187); */
    box-shadow: 1px 6px 15px grey;
    margin-bottom: 20px;
    padding: 130px 0;
  }

  .experience-grid{
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* height: 100%; */
  }

  .experience-h3{
    margin-bottom: 15px;
  }

  .experience-text{
    color: grey;
    margin: 15px 0;
  }

  .read-more-btn{
    width: 200px;
    border-radius: 20px !important;
    height: 40px;
  }

  .btn-container{
    width: 100%;
    justify-content: center;
    display: flex;
    /* height: 40px; */
    margin-top: 20px;
  }

  .recent-projects{
    /* border: 1px solid red; */
    text-align: center;
    margin-top: 120px;
    margin-bottom: 120px;
  }

  .recent-projects-h1{
    font-weight: 400;
    /* text-align: center; */
    color: rgb(99, 66, 23);
  }

  .recent-projects-paragraphs{
    margin-top: 30px;
    margin-bottom: 70px;
  }

  .recent-projects-paragraphs p{
    margin: 0;
    padding: 0;
  }

  .recent-projects .box{
    width: 320px;
    box-shadow: none;
    border: none;
  }

  .recent-projects .box h6{
    font-size: 18px;
    font-weight: 400;
  }

  .recent-projects .box p{
    font-size: 14px;
    color: grey;
  }

  .recent-projects .box .box-icon{
    width: 100%;
    border-radius: 0;
    border: none;
    height: 180px;
    background: grey;
    box-shadow: none;
  }

  .view-more-btn{
    width: 200px;
    border-radius: 20px !important;
    height: 40px;
    margin-top: 50px;
  }

  .video3{
    width: 100%;
    overflow: hidden;
    position: relative;
    height: 60vh;
    display: flex;
    
    align-items: center;
    margin-top: 250px;
    justify-content: center;
  }

  .request-form{
    border: 1px solid red;
  }
  


















  footer{
    margin-top: 150px;
  }

  .footer-grid{
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .footer-logo{
    height: 120px;
    width: 200px;
    background: grey;
    margin-bottom: 20px;
  }

  .footer-logo-text{
    font-size: 13px;
    color: grey;
  }


  .footer-links .title {
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 25px;
    font-size: 25px;
  }
  
  .footer-links .footer-ul {
    /* list-style-type: none; */
    margin-top: 50px;
    display: block;
    display: flex;
    flex-direction: column;
  }
  
  .footer-links .footer-ul a {
    color: grey;
    margin-bottom: 10px;
    text-decoration: none;
    font-size: 13px;
  }
  
  .footer-links .footer-ul a:hover {
    color: rgb(212, 137, 38);
  }


  .footer-icons {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .contact-title {
    font-weight: bold;
    margin: 0px 70px 40px 0;
    font-size: 25px;
  }
  
  .footer-icons-and-text {
    display: flex;
    flex-direction: column;
    font-size: 13px;
    color: grey;
  }
  
  .footer-icons .icon {
    margin-right: 10px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .footer-icons .icon-text {
    margin: 0;
  }

  .line {
    border-bottom: 1px solid lightgray;
    width: 100%;
    margin-bottom: 30px;
  }

  .bottom-footer{
    color: grey;
    font-size: 13px;
    margin: 30px;
  }

  .bottom-footer-icons {
    display: flex;
    align-items: center;
    padding-right: 30px;
  }
  

  .bottom-footer-icon-container {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
  }